body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.title {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
  text-align: center;
  border: 2px solid black;
}
.container {
  position: relative;
  width: 900px;
  height: 400px;
  border: 2px solid black;
}
.face-group {
  background-color: red;
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

.face {
  position: relative;
  margin-top: 10px;
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 10px;
}

.face img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.status-off {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: #dbdbdb;
  border-radius: 50%;
  border: 2px solid white;
}
.status-on {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: #4cfe88;
  border-radius: 50%;
  border: 2px solid white;
}
